.paginationSection {
    margin: 20px 100px;
    align-items: center;
    justify-content: right;
    text-align: right;
    display: flex;
}

.paginationBtn {
    background: var(--theme-btn-color);
    color: var(--theme-btn-text-color);
    border: 0px;
    padding: 5px 15px;
    margin: 0px 10px;
    width: 40px;
}

.btnPrevNext {
    border: none;
    background: none;
    font-size: 20px;
    color: var(--theme-chevron-color);
}