.tableSection {
    margin: 0px 100px;
 }

.formTable {
    width: 100%;
    border-collapse: collapse;
}

.formTable th, .formTable td {
    border-bottom: 1px solid var(--theme-border-color);
    padding: 10px;
    text-align: left;
}

.tableSection {
    overflow-x: scroll;
}

.checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid var(--theme-border-color);
    border-radius: 4px;
}
